* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

ul { list-style: none; }
a { text-decoration: none; }
strong { color: var(--color-accent); }
em { font-style: normal; }
p { font-style: var(--font-corpo); }

html {
    scroll-behavior: smooth;
}
  
body {
    background-color: var(--bg);
    min-height: 100vh;
}

