* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }
a { text-decoration: none; }

html {
    color-scheme: light;
  }
  
  body {
    background-color: #ffffff !important;
    min-height: 100vh;
}

