* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
    color-scheme: light;
    background-color: white !important;
}

body {
    min-height: 100vh;
}

