* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

ul { list-style: none; }
a { text-decoration: none; }
strong { color: var(--color-accent); }
em { font-style: normal; }
h2, h1 { font-family: var(--font-title); }
h2 { font-family: var(--font-title); color: var(--text-color)}
h3 { font-family: var(--font-title); color: var(--text-color)}
p { color: var(--text-color); }


html {
    scroll-behavior: smooth;
}
  
body {
    background-color: var(--bg);
    min-height: 100vh;
}

