* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
    color-scheme: light;
  }
  
  body {
    background-color: #ffffff !important;
    min-height: 100vh;
}

