#contact {
    min-height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact h2 {
    margin: 1em 0;
    color: var(--color-accent-dark);
    font-size: 2.5em;
}

address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 55vh;
    gap: 2em;
    flex-wrap: wrap;
}

.containerLocalization > iframe{
    display: inline-block;
    border: 3px solid var(--color-accent-dark);
    border-radius: 12px;
}

.containerSocial {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.containerSocial > p, .containerSocial > h3 {
    text-align: center;
    margin: 10px 0;
}

.containerSocial > h3 {
    color: var(--color-accent-light);
    padding: 10px;
    border-bottom: 1px solid var(--color-accent-light);
}

.listSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.listSocial > li > a > svg {
    transform: scale(2);
    color: var(--color-accent-light);
    transition: all .4s ease;
}

.listSocial > li > a > svg:hover {
    transform: scale(2.05) translateY(-2px);
}

@media screen and (max-width: 630px) {
    .containerLocalization > iframe {
        max-width: 550px;
    }
}

@media screen and (max-width: 570px) {
    .containerLocalization > iframe {
        max-width: 200px;
        max-height: 350px;
    }
}

@media screen and (max-width: 545px) {
    .containerLocalization > iframe {
        max-width: 350px;
    }
}

@media screen and (max-width: 460px) {
    #contact > h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 383px) {
    #contact > h2 {
        font-size: 1.7em;
        width: 160px;
        text-align: center;
    }

    .containerLocalization > iframe {
        max-width: 320px;
    }
}

@media screen and (max-width: 345px) {
    .containerLocalization > iframe {
        max-width: 260px;
    }
} 

@media screen and (max-width: 280px) {
    .containerSocial > p {
        font-size: .8em;
    }

    .listSocial {
        gap: 3em;
    }
}

