
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--text-color-links);
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    
}

.logo {
    margin-left: 2rem;
    padding: 10px;
    height: 64px;
    width: 160px;
}

nav {
    margin-right: 2rem;
}

.listLinks {
    display: flex;
    gap: 30px;
}

.listLinks > li > a {
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    transition: all .3s ease;
}

.listLinks > li > a:hover {
    color: var(--color-accent);
    transform: scale(1.08) translateY(-2px);
}
