
.containerHero {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    min-height: 60vh;
}

.ctaHero {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ctaHero > h1 {
    font-size: 3.3em;
    font-weight: 900;
    background-image: linear-gradient( 45deg, var(--color-accent), var(--color-accent-light), var(--color-accent-dark) );
  
   -webkit-background-clip: text;
   background-clip: text; 

   -webkit-text-fill-color: transparent;
   text-fill-color: transparent;
}

.ctaHero > p{
    text-wrap: wrap;
    font-size: 1.5em;
    width: 23em;
    color: var(--muted-text);
}

.ctaHero > a {
    font-size: 1.5em;
    background-color: var(--color-accent-dark);
    color: var(--text-color);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 10em;
    display: inline-block;
    transition: all .3s ease;
    font-weight: 600;
}

.ctaHero > a:hover  {
    transform: translateY(-2px) scale(1.08);
}

.imageHero > img {
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--color-accent-light);
}

.containerWave {
    width: 100%;
    height: 250px;
    overflow: hidden; 
}

#onda1 {
    fill: var(--color-accent-light); 
    opacity: .6;   
}

#onda2 {
    fill: var(--color-accent-light);
    opacity: .4;  
}


@media screen and (max-width: 890px) {
    .containerHero {
        flex-direction: column-reverse;
        align-items: center;
        margin: 2em 0;
    }

    .ctaHero {
        margin-top: 4em;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .ctaHero > a {
        width: 12em;
        padding: .8em;
    }

    .containerWave {
        height: 200px;
    }
}

@media screen and (max-width: 585px) {
    .ctaHero > h1 {
        font-size: 2.7em;
    }

    .ctaHero > p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 465px) {
     .ctaHero > h1 {
        font-size: 2.2em;
    }

    .ctaHero > p {
        font-size: 1.1em;
        max-width: 15em;
    }
}

@media screen and (max-width: 324px) {
    .ctaHero > a {
        width: 12em;
        padding: .9em;
        font-size: 1em;
    }

    .imageHero > img {
        height: 200px;
    }

    .containerWave {
        height: 150px;
    }
}

@media screen and (max-width: 270px) {
    .ctaHero > h1 {
        font-size: 1.8em;
    }
    .ctaHero > p {
        font-size: 1.1em;
        max-width: 11em;
    }
    .containerWave {
        height: 90px;
    }

    .imageHero > img {
        height: 160px;
    }
}