
#drBruna {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#drBruna > figure {
    margin-top: 5em;
}

.about {
    width: 55em;
}

.about > h2 {
    font-size: 3em;
    margin: .5em 0;
    font-family: var(--font-title);

    background-image: linear-gradient( 45deg, var(--color-accent), var(--color-accent-light), var(--color-accent-dark) );
    -webkit-background-clip: text;
    background-clip: text; 

    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
} 

.about > p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    font-family: var(--font-corpo);
}

.assinatura {
    margin-top: 2em;
    border-bottom: 1px solid var(--color-accent);
}

.about > p > em {
    font-style: italic;
}

@media screen and (max-width: 900px) {
    .about {
        width: 44em;
    }
}

@media screen and (max-width: 747px) {
    .about {
        width: 33em;
    }
}

@media screen and (max-width: 616px) {
    .about {
        width: 22em;
    }

    .about > p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 420px) {
    .about > p {
        font-size: 1em;
    }
}

@media screen and (max-width: 387px) {
    .about > p {
        font-size: .8em;
    }


    .about > h2 {
        font-size: 2.2em;
    }

    .about {
        width: 19em;
    }
}

@media screen and (max-width: 324px) {
    .about {
        width: 16em;
    }
}